<form method="POST" action="/authenticate" class="login-container">
    <h2 class="title">{{pageTitle}}</h2>
    <div class="input-row">
        <input type="text" name="email" id="username" class="text-input" placeholder="Email">
    </div>
    <div class="input-row">
        <input type="password" name="password" id="password" class="text-input" placeholder="Password">
    </div>
    <div class="input-row">
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
    <a href="#">Register</a>
</form>