* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.btn {
    padding: 10px;
}

.user {
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
}

.input-form {
    max-width: 600px;
    margin: 0 auto;
    background: #ccc;
}

.input-form div {
    padding: 10px;
}

.input-form label {
    display: block;
}